// colors
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// fonts
@font-face {
  font-family: "inter-bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "inter-regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter-extraBold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  color: $Dark-grayish-blue;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "inter-regular", sans-serif;
  background-color: $Off-white;
}

// Header

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  #logo {
    width: 70%;
  }
}
.nav-menu {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  top: 0;
  right: 0;
  padding: 3rem;
  min-height: 100vh;
  width: 60%;
  background-color: $Off-white;
  visibility: hidden;
}
menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  a {
    font-size: 1.8rem;
    color: $Very-dark-blue;
    text-decoration: none;
  }
}
.menu-close {
  align-self: flex-end;
}

// main
main {
  padding: 2rem;
}
.illustration {
  padding-top: 4rem;
}
.container {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;

  .cont-txt {
    h3 {
      font-size: 3rem;
      color: $Grayish-blue;
      font-family: "inter-bold";
    }
    h4 {
      font-family: "inter-bold";
      color: $Very-dark-blue;
      font-size: 1.7rem;
      padding: 1.2rem 0;
    }
    p {
      line-height: 2.4rem;
    }
  }

  .cont-img img {
    width: 10rem;
  }
}
.intro {
  margin-top: 5rem;
  background-color: $Very-dark-blue;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: $Off-white;
  padding: 2rem;
  line-height: 3rem;

  h2 {
    font-size: 3rem;
    color: $orange;
  }
  h3 {
    font-size: 2rem;
  }
}
.hero-text {
    margin-top: 2rem;
  h1 {
    font-size: 4rem;
    font-family: "inter-extraBold";
    color: $Very-dark-blue;
  }
  p {
    line-height: 2.5rem;
    padding: 2rem 0;
  }

  button {
    background-color: $red;
    width: 55%;
    padding: 1.5rem;
    border: none;
    color: $Off-white;
    font-family: "inter-bold";
    letter-spacing: 0.4rem;
  }
}
.hero-image img {
  width: 100%;
}
