// colors
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// fonts
@font-face {
  font-family: "inter-bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "inter-regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter-extraBold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  color: $Dark-grayish-blue;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "inter-regular", sans-serif;
  background-color: $Off-white;
}

// Header

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  #logo {
    width: 70%;
  }
}
.nav-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  visibility: collapse;
}
menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  a {
    font-size: 1.8rem;
    color: $Very-dark-blue;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
}
.menu-close {
  align-self: flex-end;
}

// main
main {
  padding: 2rem;
}
.hero-text {
  margin-top: 2rem;
  h1 {
    font-size: 4rem;
    font-family: "inter-extraBold";
    color: $Very-dark-blue;
  }
  p {
    line-height: 2.5rem;
    padding: 2rem 0;
  }

  button {
    background-color: $red;
    width: 55%;
    cursor: pointer;
    padding: 1.5rem;
    border: none;
    color: $Off-white;
    font-family: "inter-bold";
    letter-spacing: 0.4rem;
    &:hover {
      background-color: $Very-dark-blue;
    }
  }
}
.hero-image img {
  width: 100%;
}
.desktop {
  display: none;
}

.intro {
  margin-top: 5rem;
  background-color: $Very-dark-blue;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: $Off-white;
  padding: 2rem;
  line-height: 3rem;

  h2 {
    font-size: 3rem;
    color: $orange;
  }
  h3 a {
    color: $Off-white;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      color: $orange;
    }
  }
}
.illustration {
  padding-top: 4rem;
}
.container {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;

  .cont-txt {
    h4 {
      margin: 1rem 0;
    }
    h3 a {
      font-size: 3rem;
      color: $Grayish-blue;
      font-family: "inter-bold";
    }
    h4 a {
      margin: 2rem 0;
      text-decoration: none;
      font-family: "inter-bold";
      color: $Very-dark-blue;
      font-size: 1.5rem;
      padding: 1.2rem 0;
      &:hover {
        color: $red;
      }
    }
    p {
      line-height: 2.4rem;
    }
  }

  .cont-img img {
    width: 10rem;
  }
}

.show {
  visibility: visible;
  z-index: 100;
  min-height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  padding: 3rem;
  background-color: $Off-white;
}

@media (min-width: 1024px) {
  html,
  body {
    min-width: 1024px;
  }
  header,
  main {
    width: 80%;
    margin: 0 auto;
  }

  nav {
    padding: 0;
    padding-top: 2rem;
  }
  .burger,
  .menu-close,
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .nav-menu {
    // z-index: 0;
    min-height: inherit;
    position: static;
    visibility: visible;
    background: none;
  }
  menu {
    flex-direction: row;
  }
  main {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    gap: 2rem;
  }

  .hero-image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hero-text {
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    grid-row: 2/3;
    grid-column: 1/3;
    .grp {
      flex: 2;
    }
    p {
      padding-top: 0;
    }
    h1 {
      font-size: 4.5rem;
      flex: 1.5;
    }
  }
  .intro {
    margin-top: 0;
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .illustration {
    padding-top: 0rem;
    display: flex;
    grid-column: 1/4;
  }
}
